<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon p-0 me-2" (click)="sideMneu.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="/assets/images/nie-logo.png" alt="NIE Loog" width="48" class="mx-2">

  <span class="example-spacer"></span>

  <button class="btn" [matMenuTriggerFor]="language">
    <mat-icon class="text-white">translate</mat-icon>
    <mat-menu #language="matMenu">
      <button mat-menu-item (click)="translateTo('kh')">
        <span>{{'kh' | translate}}</span>
      </button>
      <button mat-menu-item (click)="translateTo('en')">
        <span>{{'en' | translate}}</span>
      </button>
    </mat-menu>
  </button>
  <button class="btn" [matMenuTriggerFor]="menu">
    <mat-icon class="text-white">more_vert</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>{{'setting' | translate}}</span>
      </button>
      <button mat-menu-item>
        <mat-icon>info</mat-icon>
        <span>{{'about' | translate}}</span>
      </button>
      <button mat-menu-item (click)="authService.logout()">
        <mat-icon>logout</mat-icon>
        <span>{{'logout' | translate}}</span>
      </button>
    </mat-menu>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #sideMneu mode="over" class="example-sidenav">
    <mat-list>
      <mat-list-item (click)="routerService.routeTo('/home');sideMneu.close()" routerLink="/home" routerLinkActive="active-menu">
        <mat-icon>dashboard</mat-icon>
        <span>{{'dashboard' | translate}}</span>
      </mat-list-item>
      <mat-list-item (click)="routerService.routeTo('/teacher');sideMneu.close()" routerLink="/teacher" routerLinkActive="active-menu">
        <mat-icon>group</mat-icon>
        <span>{{'teacher' | translate}}</span>
      </mat-list-item>
      <mat-list-item (click)="routerService.routeTo('/student');sideMneu.close()" routerLink="/student" routerLinkActive="active-menu">
        <mat-icon>groups</mat-icon>
        <span>{{'student' | translate}}</span>
      </mat-list-item>
      <mat-list-item (click)="routerService.routeTo('/reports');sideMneu.close()" routerLink="/reports" routerLinkActive="active-menu">
        <mat-icon>description</mat-icon>
        <span>{{'report' | translate}}</span>
      </mat-list-item>
      <mat-list-item (click)="routerService.routeTo('/config');sideMneu.close()" routerLink="/config" routerLinkActive="active-menu">
        <mat-icon>settings_applications</mat-icon>
        <span>{{'config' | translate}}</span>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <section>
    <router-outlet></router-outlet>
  </section>
</mat-drawer-container>


<footer class="bg-secondary">
  <p class="m-0 p-0 text-center text-white">NIE Copyright &copy; 2024, Alright reserve</p>
</footer>