<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon p-0" (click)="sideMneu.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="/assets/images/nie-logo.png" alt="NIE Loog" width="48">

  <span class="example-spacer"></span>

  <button class="btn">
    <mat-icon class="text-white" [matMenuTriggerFor]="menu">more_vert</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>
      <button mat-menu-item (click)="routerService.routeTo('/login')">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #sideMneu mode="over" class="example-sidenav">
    <mat-list>
      <mat-list-item (click)="routerService.routeTo('/home');sideMneu.close()" routerLink="/home" routerLinkActive="active-menu">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </mat-list-item>
      <mat-list-item (click)="routerService.routeTo('/teacher');sideMneu.close()" routerLink="/teacher" routerLinkActive="active-menu">
        <mat-icon>group</mat-icon>
        <span>Teacher</span>
      </mat-list-item>
      <mat-list-item (click)="routerService.routeTo('/student');sideMneu.close()" routerLink="/student" routerLinkActive="active-menu">
        <mat-icon>groups</mat-icon>
        <span>Student</span>
      </mat-list-item>
      <mat-list-item (click)="routerService.routeTo('/reports');sideMneu.close()" routerLink="/reports" routerLinkActive="active-menu">
        <mat-icon>description</mat-icon>
        <span>Reports</span>
      </mat-list-item>
      <mat-list-item (click)="routerService.routeTo('/config');sideMneu.close()" routerLink="/config" routerLinkActive="active-menu">
        <mat-icon>settings_applications</mat-icon>
        <span>Config</span>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <section>
    <router-outlet></router-outlet>
  </section>
</mat-drawer-container>


<footer class="bg-secondary">
  <p class="m-0 p-0 text-center text-white">Copyright &copy; 2024. NIE</p>
</footer>