<div class="p-3">
  <h2 class="text-center" mat-dialog-title>{{title}}</h2>

  <mat-dialog-content class="d-flex flex-row p-3">
    <mat-icon [class]="icon">{{icon}}</mat-icon>
    <p class="ms-2">{{'message' | translate}}</p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="warn" (click)="onCancel()">{{cancelText}}</button>
    <button mat-raised-button color="primary" class="ms-2" (click)="onSave()">{{okText}}</button>
  </mat-dialog-actions>
</div>