@import url("assets/styles/bootstrap.css");
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

nav,
footer {
  background-color: #aaddcc;
}

section {
  margin-bottom: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

mat-icon {
  vertical-align: middle;
}

.example-spacer {
  flex: 1 1 auto;
}